@model AshaPortal.HomeVIewModel

<div style="background-image: url('../../Content/images/AshaElement/searchNreserveBack.jpg'); background-repeat: no-repeat; background-size: contain; width: 100vw; height: 115vh; ">
    <a href="@Url.Action("Product","Reserve")">
        <img src="~/Content/images/AshaElement/reserveButton.png" style="width:90%;margin-left:5.6%; margin-top:31.4%; width:89.8%;" />
    </a>
    <a href="@Url.Action("ReserveData","Reserve")">
        <img src="~/Content/images/AshaElement/searchRecord.png" style="width:90%;margin-left:5.2%; margin-top:46.2%; width:89.8%;" />
    </a>
</div>
